/* Resetting default browser styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling which should be applied to all elements in the body*/
body {
    font-family: sans-serif;
    background-color: #c4c4c4; /* Set a light gray background color */
}

/* Styling for the navigation bar  - and making it flexbox*/
nav {
    display: flex;
    justify-content: space-between;
    background-color: #eaeaea; /* Set a light gray background color */
}

.nav__left {
    display: flex;
    align-items: center;
}

.nav__right {
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

/* Styling for navigation links  to remove underlines and colors*/
.nav__right li a {
    text-decoration: none;
    color: black; /* Set link color to black */
}

/* Styling for the duck section  - with flexbox*/
#duck {
    display: flex;
    justify-content: center;
    align-items: center;
}

.duck__right {
    width: 40%;
}

.duck__right img {
    width: 90%;
    margin: 2%; /* Add a small margin around images */
}

/* Styling for the emergency section using grid */
.emergency__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.1rem; /* Set a small gap between grid items */
}

/* Styling for individual emergency cards within the container */
.emergency__card {
    border: solid; /* Add a border around emergency cards */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 80%;
    color: black;
    text-decoration: none;
}

/* Styling for links within the emergency container */
.emergency__container a {
    text-decoration: none; /* Remove underlines from links */
}

/* Styling for the footer section */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

footer form input {
    margin: 2%; /* Add margin to input fields */
}

footer form button {
    width: 30%;
    margin: 2%; /* Add margin to buttons */
}

/* Styling for the author section within the footer */
footer .author {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for links within the footer */
footer a {
    display: flex;
    justify-content: center;
}

/* Styling for author image */
footer .author img {
    width: 10%;
    border-radius: 50%; /* Apply a circular border to images */
}
