@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Resetting default browser styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling which should be applied to all elements in the body*/
body {
    font-family: 'Roboto', sans-serif;
}

h2, h1 {
    margin-bottom: 1.25rem;
    text-align: center;
    padding-top: 1.25rem;
}

button {
    border: none;
    background-color: white;
    font-size: 1rem;
    padding: 0.5em 1.25em;
    margin: 0.5em;
}

/* Styling for the navigation bar  - and making it flexbox*/
nav {
    display: flex;
    justify-content: space-between;
    background-color: #eaeaea; /* Set a light gray background color */
    padding: 2%;
}

.nav__left {
    display: flex;
    align-items: center;
}

.nav__left img {
    width: 1.5rem;
}

.nav__left p {
    margin-left: 2rem;
}

.nav__right {
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav__right li {
    margin: 0 2%;
}  


/* Styling for navigation links  to remove underlines and colors*/
.nav__right li a {
    text-decoration: none;
    color: black; /* Set link color to black */
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    background-color: #c4c4c4; /* Set a light gray background color */
    margin-bottom: 1%; /* Small marging so that the white line between the sections appears */
}

/* Styling for the duck section  - with flexbox*/
#duck {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c4c4c4; /* Set a light gray background color */
    margin-bottom: 1%; /* Small marging so that the white line between the sections appears */
}

.duck__left { 
    max-width: 450px;
}


.duck__right {
    width: 40%;
}

.duck__right img {
    width: 90%;
    margin: 2%; /* Add a small margin around images */
}

/* Styling for the emergency section using grid */
#emergency {
    background-color: #c4c4c4; /* Set a light gray background color */
    margin-bottom: 1%; /* Small marging so that the white line between the sections appears */
}

.emergency__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.1rem; /* Set a small gap between grid items */
    padding: 2rem;
}

/* Styling for individual emergency cards within the container */
.emergency__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 80%;
    color: black;
    text-decoration: none;
    margin: 1.5rem;
    background-color: white;
}

/* Styling for links within the emergency container */
.emergency__container a {
    text-decoration: none; /* Remove underlines from links */
}

/* Styling for the footer section */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c4c4c4; 
}

footer form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

footer form input {
    margin: 2%; /* Add margin to input fields */
}

footer form button {
    width: 30%;
    margin: 2%; /* Add margin to buttons */
}

/* Styling for the author section within the footer */
footer .author {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for links within the footer */
footer a {
    display: flex;
    justify-content: center;
}

/* Styling for author image */
footer .author img {
    width: 10%;
    border-radius: 50%; /* Apply a circular border to images */
}
