*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #c4c4c4;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #eaeaea;
}

.nav__left {
    display: flex;
    align-items: center;
}

.nav__right {
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav__right li a {
    text-decoration: none;
    color: black;
}


#duck {

    display: flex;
    justify-content: center;
    align-items: center;
}

.duck__right {
    width: 40%;
}

.duck__right img{
    width: 90%;
    margin: 2%;
}

.emergency__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.1rem;

}

.emergency__card {
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 80%;
    color: black;
    text-decoration: none;
}

.emergency__container a {
    text-decoration: none;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
footer form input {
    margin: 2%;
}

footer form button {
    width: 30%;
    margin: 2%;
}

footer .author {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    display: flex;
    justify-content: center;
}

footer img {
    width: 10%;
    border-radius: 50%;
}